* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mtavruli;
    src: url(../fonts/bpg-nino-mtavruli-webfont.ttf);
}

@font-face {
    font-family: volkhov;
    src: url(../fonts/Volkhov-Bold.ttf);
}

@font-face {
    font-family: Bree Serif;
    src: url(../fonts/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: aladin;
    src: url(../fonts/Aladin-Regular.ttf);
}




/* Header */


.upHeader {
    height: 42px;
}

.tbilisi {
    font-family: mtavruli;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.time {
    font-family: mtavruli;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.navigation {
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.navigationMobile {
    background-color: #FFC33E;
}

.togglerBtn {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.togglerBtn:focus {
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
    outline-width: 0 !important;
}

.links {
    font-family: mtavruli;
    font-weight: 400 !important;
    font-style: italic;
    font-size: 20px !important;
    color: #000 !important;
    transition: 0.5s !important;
}

.dropLink {
    font-family: mtavruli;
    font-weight: 400 !important;
    font-style: italic;
    font-size: 20px !important;
    color: #000 !important;
    padding: 0 !important;
    padding-right: 5px !important;
    margin: 0 !important;
}

.dropLink:hover {
    background-color: #F2C35E !important;
}

.downMenu {
    border-radius: 0 !important;
    border: none !important;
    background-color: #F2C35E !important;
    padding: 0 !important;
    padding-top: 4px !important;
    top: 32px !important;
    left: 20px !important;
}

.telNum {
    margin: 0;
    font-family: volkhov;
    font-size: 20px;
    background-color: #FFC33E;
    border-radius: 10px;
    color: #fff;
    padding: 3px;
}

.hrLink {
    margin: 0;
    margin-bottom: 2px;
}

.traingleHover {
    transition: 0.5s;
}

.linksHov {
    transition: 0.5s !important;
}

.linksHov:focus .traingleHover {
    transform: rotate(90deg);
}



.closeButton {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.offcanvasBody {
    height: 100vh !important;
    background-image: url(../img/offcanvas\ background.png);
    background-repeat: no-repeat;
    background-size: cover;
}



/* Hero Section */


.mainHead {
    font-family: mtavruli;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    color: #808080;
    margin: 0;
    margin-top: 18px;
}

.hotelsMainBack {
    height: 644px;
}

.hotelsMainBack2 {
    background-color: #FFC33E;
    border-radius: 12px;
    padding: 48px;
}

.hotelsMainImg {
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
}

.backImgHead {
    font-family: mtavruli;
    font-weight: 900;
    font-size: 54px;
    color: #fff;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
    margin: 0;
    position: absolute;
    bottom: 88px;
    left: 52px;
}

.hotelsArrow {
    font-family: mtavruli;
    font-weight: 900;
    font-size: 48px;
    color: #fff;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 38%;
}

.backImgHead2 {
    font-family: mtavruli;
    font-weight: 900;
    font-size: 34px;
    color: #fff;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
    margin: 0;
    text-align: center;
}

.hotelsArrow2 {
    font-family: mtavruli;
    font-weight: 900;
    font-size: 28px;
    color: #fff;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
    margin: 0;
    margin-top: 18px;
    text-align: center;
}



/* Text Content */


.blogSpace {
    height: 250px;
    background-color: #7A7A7A;
    border-radius: 10px;
}

.hotelsTextParagraph {
    font-family: mtavruli;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    margin: 0;
    columns: #000;
}

.serviceCard {
    border-radius: 10px;
    cursor: pointer;
    height: 321px;
    transition: 0.5s;
    position: relative;
    overflow-y: hidden;
}

.serviceCard:hover .serviceBoxHover {
    left: 0;
    bottom: 59px;
}

.serviceHoverImg {
    height: 210px;
}

.servCardHeadBox {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    background-color: #FFC33E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servCardHeadBox h6 {
    font-family: mtavruli;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    color: #fff;
    margin: 0;
}

.iconBox {
    border-radius: 50%;
    width: 58px;
    height: 58px;
    border: 5px solid #FFC33E;
    position: absolute;
    top: -31px;
    left: 35%;
}

.iconImg {
    border-radius: 50%;
}

.serviceParagraph {
    margin: 0;
    font-family: mtavruli;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition: 0.3s linear;
}

.serviceParagraph2 {
    margin: 0;
    font-family: mtavruli;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #FFC33E;
    visibility: hidden;
    left: 0;
    top: 25px;
    transition: 0.3s linear;
}

.serviceBoxHover {
    background-color: #FFC33E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 15px;
    position: relative;
    z-index: 10;
    height: 139px;
    padding-top: 28px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 100;
    transition: 0.4s linear;
}

.serviceCard:hover .serviceBoxHover .serviceParagraph {
    visibility: hidden;
    transition-timing-function: linear;
}
.serviceCard:hover .serviceBoxHover .serviceParagraph2 {
    visibility: visible;
    transition-timing-function: linear;
}





/* footer */



.backgourndImg {
    background-image: url(../img/Footer\ img.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.footerHead {
    font-family: mtavruli;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 0;
}

.footerLists li {
    list-style: none;
}

.footerLists li > a {
    text-decoration: none;
    color: #000;
    font-family: mtavruli;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.footerLists2 li {
    list-style: none;
    background-color: #F4F4F4;
    padding: 4px;
    border-radius: 7px;
}

.footerLists2 li > a {
    text-decoration: none;
    color: #7A7A7A;
    font-family: mtavruli;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}




/* media queries */



@media screen and (max-width: 768px) {
    
    .links {
        color: #fff !important;
    }
    .traingleHover path {
        fill: #fff !important;
    }
    .downMenu {
        border-radius: 0 !important;
        border: none !important;
        background-color: transparent !important;
        padding: 0 !important;
        padding-top: 4px !important;
        top: 32px !important;
        left: 0 !important;
        transition: 0.5s !important;
    }
    .dropLink {
        color: #fff !important;
        background-color: transparent !important;
    }

    /* Hotels */

    .mainHead {
        font-size: 18px;
    }
    .serviceCard {
        height: 391px;
    }

    .footerLists li > a {
        font-size: 13px;
    }
    .matareEmail {
        font-size: 14px;
        display: flex;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
        color: #7A7A7A;
        font-family: mtavruli;
        font-weight: 400;
        font-size: 16px;
        font-style: italic;
    }
    .footerHead {
        font-size: 18px;
    }
}